PORT=3000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.yx969hg.mongodb.net/bus_system
JWT_SECRET=replace_with_secure_access_secret
JWT_REFRESH_SECRET=replace_with_secure_refresh_secret
CHAPA_SECRET_KEY=CHASECK_TEST-replace_with_your_chapa_secret_key
CHAPA_PUBLIC_KEY=CHAPUB_TEST-replace_with_your_chapa_public_key